RewriteEngine On

# Prevent directory browsing
Options -Indexes

# Redirect trailing slashes if it is not a directory
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ $1 [L,R=301]

# Forward all other requests to index.php if the file or folder does not exist
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
